<section *ngIf="product">
  <h1>{{product.name}}</h1>
  <img [src]="product.imageUrl">
  <p>{{product.description}}</p>
  <p><strong>Price: </strong> {{product.price | goldCoins}}</p>
  <section>
    <h2>Specifications</h2>
    <ul>
      <li *ngFor="let spec of product.specs">{{spec.name}}: {{spec.value}}</li>
    </ul>
  </section>
  <section>
   <h2>Review</h2>
   <add-review-form (onAddReview)="saveReview($event)"></add-review-form>
   <user-review *ngFor="let review of product.reviews" [review]="review"></user-review>
  </section>
  <button (click)="goBack()">Back</button>
</section>
